    .episodes {
        min-height: 100px;
        width: 90%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        font-size: .75rem;
    }
    h4{
        color: white;
        margin: 0 0 5px 0;
        text-align: left;
    }
    .episodes ul{
        list-style-type: none;
        padding: 0;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .episodes ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
        border-radius: 5px;
        margin: 0 2px;
        background-color: transparent;
    }
    .episodes ul li p{
        color: white;
        text-align: center;
        font-size: .75rem;
        line-height: 1rem;
    }
    .episodes ul li img{
        display: block;
        height: 60px;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
    }

@media screen and (min-width: 480px) {
    .episodes {
        font-size: .875rem;
    }
    .episodes ul li p{
        color: white;
        text-align: center;
        font-size: .75rem;
    }
}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 992px) {
    .episodes {
        height: 150px;
        width: 800px;
        flex-direction: row;
        align-items: flex-start;
        font-size: 1rem;
    }
    
    h4{
        margin: 5px 0 5px 0;
        text-align: left;
        width: 100px;
    }
    .episodes ul{
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .episodes ul li{
        margin: 0 15px 10px 0;
    }
    .episodes ul li img{
        height: 100px;
    }  
}
@media screen and (min-width: 1200px) {
      
}

